<div class="row mllayout" style="font-size: 13px">
  <div class="col-md-12" *ngIf="policeLogs && policeLogs.length > 0">
    <div class="page-title">
      <h3>Police Department - Records access history</h3>
    </div>
    <div class="detailtable">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Public Address</th>
              <th scope="col">Shared/Revoked Access On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of policeLogs">
              <td>Law And Order (Police)</td>
              <td>{{d.policeAddress}}</td>
              <td>{{d.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h3 class="text-center" *ngIf="!policeLogs || policeLogs.length == 0">
      The police department has not accessed your data
    </h3>
    <!-- <div class="detailtable" *ngIf="visits && visits.length > 0">
      <div class="row mt-30 border-bottom ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Recent Visits</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Start Date</p>
        </div>
        <div class="col">
          <p>End Date</p>
        </div>
        <div class="col">
          <p>Location</p>
        </div>
        <div class="col">
          <p>Consulted with</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let visit of visits">
        <div class="col">
          <p>{{visit.resource.period.start | date: 'medium'}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.period.end  | date: 'medium'}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.location[0].location.display}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.participant && visit.resource.participant.length ?
            visit.resource.participant[0].individual.display.split('(')[0]: ''}}</p>
        </div>
      </div>
    </div> -->
    <!--observations-->
    <!-- <div class="detailtable" *ngIf="observations && observations.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Observations</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Activity</p>
        </div>
        <div class="col">
          <p>Analysis</p>
        </div>
        <div class="col">
          <p>Results</p>
        </div>
        <div class="col">
          <p>Comments</p>
        </div>
        <div class="col">
          <p>Date</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let obs of observations">
        <div class="col">
          <p>{{obs.resource.resourceType}}</p>
        </div>
        <div class="col">
          <p *ngIf="obs.resource && obs.resource.code && obs.resource.code.coding && obs.resource.code.coding.length">{{obs.resource.code.coding[obs.resource.code.coding.length-1].display}}</p>
        </div>
        <div class="col">
          <p *ngIf="obs.resource && obs.resource.valueCodeableConcept && obs.resource.valueCodeableConcept.coding && obs.resource.valueCodeableConcept.coding.length">{{obs.resource.valueCodeableConcept.coding[obs.resource.valueCodeableConcept.coding.length-1].display}}</p>
          <p *ngIf="obs.resource && obs.resource.valueQuantity">{{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}</p>
        </div>
        <div class="col">
          <p>{{obs.resource.comment}}</p>
        </div>
        <div class="col">
          <p>{{obs.resource.effectiveDateTime  | date: 'medium'}}</p>
        </div>
      </div>
    </div> -->
    <!--Prescriptions-->
    <!-- <div class="detailtable" *ngIf="prescriptions && prescriptions.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Prescriptions</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Drug Name</p>
        </div>
        <div class="col">
          <p>Dosage</p>
        </div>
        <div class="col">
          <p>Status</p>
        </div>
        <div class="col">
          <p>Prescribed By</p>
        </div>
        <div class="col">
          <p>Prescripion Date</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let prescription of prescriptions">
        <div class="col">
          <p>{{prescription.drugName}}</p>
        </div>
        <div class="col">
            <p *ngIf="prescription.dosageInstruction.length > 0 && prescription.dosageInstruction[0].dosageInstructionFreeText">
                {{prescription.dosageInstruction[0].dosageInstructionFreeText}}</p>
              <p *ngIf="prescription.dosageInstruction && prescription.dosageInstruction.length > 0 && !prescription.dosageInstruction[0].dosageInstructionFreeText && prescription.dispenseRequest">
                {{prescription.dosageInstruction[0].doseQuantity.value}}
                {{prescription.dosageInstruction[0].doseQuantity.unit}}, {{prescription.dosageInstruction[0].route}},
                {{prescription.dosageInstruction[0].timing}}, {{prescription.dispenseRequest.expectedSupplyDuration.value}}
                {{prescription.dispenseRequest.expectedSupplyDuration.unit}}
              </p>
        </div>
        <div class="col">
          <p>{{prescription.status}}</p>
        </div>
        <div class="col">
          <p>{{prescription.recorder.name}}</p>
        </div>
        <div class="col">
          <p>{{prescription.authoredOn | date: 'medium'}}</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-md-12" *ngIf="insuranceLogs && insuranceLogs.length > 0">
    <div class="page-title">
      <h1>Insurance - Records Access History</h1>
    </div>
    <div class="detailtable">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Insurer</th>
              <th scope="col">Public Address</th>
              <th scope="col">Accessed On </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of insuranceLogs">
              <td>AXA Insurance</td>
              <td>{{d.insuranceAddress}}</td>
              <td>{{d.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2 class="text-center" *ngIf="!insuranceLogs || insuranceLogs.length == 0">
      No insurers have accessed your data.
    </h2>
  </div>
</div>