<div>
  <mat-grid-list cols="2" rowHeight="30px" class="section-header">
    <mat-grid-tile class="d-inline-block page-title">
      <h1 class="section-header_left position-absolute section-title">
        {{profileInfo == "insurance" ? "Agent" : profileInfo == "police" ? "Officer" : profileInfo == "rta" ? "RTA Agent": "My"}} Profile
      </h1>
    </mat-grid-tile>
    <!-- <button mat-button class="btn-health float-right">Edit Profile</button> -->
  </mat-grid-list>
  <div *ngIf="profileInfo ==='user'">
    <div class="row pl-6 pb-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">First Name</div>
        <div>Siju</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Last Name</div>
        <div>K Augustin</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Date of Birth</div>
        <div>27 July 1989</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Gender</div>
        <div>Male</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">Address Line 1</div>
        <div>Box No. 111058</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Address Line 2</div>
        <div>Al-Shereef Building, 13th Floor</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">City</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">State</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Area Code</div>
        <div>27312</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Country</div>
        <div>Emirates</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4">
        <div class="col-2">
          <div class="font-weight-bold">Vehicle ID</div>
          <div>I 53197</div>
        </div>
        <div class="col-2">
          <div class="font-weight-bold">Registration ID</div>
          <div>0012536654789</div>
        </div>
      </div>
  </div>


  <div *ngIf="profileInfo ==='insurance'">
    <div class="row pl-6 pb-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">First Name</div>
        <div>Habeeb</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Last Name</div>
        <div>Ali</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Date of Birth</div>
        <div>02/02/1989</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Gender</div>
        <div>Male</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">Address Line 1</div>
        <div>2972 High Gardens</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Address Line 2</div>
        <div>Khaleej Lane</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">City</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">State</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Area Code</div>
        <div>19668</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Country</div>
        <div>Emirates</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4">
      <div class="col-2">
        <div class="font-weight-bold">Agent ID</div>
        <div>JP-123-009</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Agent Code</div>
        <div>0012536654789</div>
      </div>
    </div>
  </div>

  <div *ngIf="profileInfo ==='police'">
    <div class="row pl-6 pb-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">First Name</div>
        <div>Zayed</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Last Name</div>
        <div>Rahman</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Date of Birth</div>
        <div>01/02/1987</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold" >Gender</div>
        <div>Male</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">Address Line 1</div>
        <div>Al Nahda St</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Address Line 2</div>
        <div>Dubai Police HQ</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">City</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">State</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Area Code</div>
        <div>500001</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Country</div>
        <div>Emirates</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4">
      <div class="col-2">
        <div class="font-weight-bold">Badge Number</div>
        <div>CA78945</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Station ID</div>
        <div>78945697</div>
      </div>
    </div>
  </div>

  <div *ngIf="profileInfo ==='rta'">
    <div class="row pl-6 pb-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">First Name</div>
        <div>Zayed</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Last Name</div>
        <div>Ibrahim</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Role</div>
        <div>RTA Assistant Officer</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4 border-bottom">
      <div class="col-2">
        <div class="font-weight-bold">Address Line 1</div>
        <div>3213  Nai Villa</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Address Line 2</div>
        <div>Post Road</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">City</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">State</div>
        <div>Dubai</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Area Code</div>
        <div>30303</div>
      </div>
      <div class="col-2">
        <div class="font-weight-bold">Country</div>
        <div>Emirates</div>
      </div>
    </div>
    <div class="row pl-6 pb-4 pt-4">
        <div class="col-2">
          <div class="font-weight-bold">Agent ID</div>
          <div>AWPQ123PA</div>
        </div>
        <div class="col-2">
          <div class="font-weight-bold">Office ID</div>
          <div>RTA123456</div>
        </div>
      </div>
  </div>

</div>
