<h2 mat-dialog-title class="d-inline-block"  *ngIf="data.type == 'visits'">Recent Visits</h2>
<h2 mat-dialog-title class="d-inline-block" *ngIf="data.type == 'observations'">Patient consultation history</h2>
<h2 mat-dialog-title class="d-inline-block" *ngIf="data.type == 'prescriptions'">Prescriptions</h2>
<button mat-button mat-dialog-close class="float-right closebtn">X</button>

<!--patient history-->
<mat-dialog-content class="mat-typography largemodal" *ngIf="data.type == 'visits' || data.type == 'observations' || data.type == 'prescriptions'">
  <div *ngIf="data.type == 'visits'">
      <div class="col-12 text-center" *ngIf="!data.visits || (data.visits && data.visits.length === 0)">
        You have not recently visited the selected provided
      </div>
      <div class="table-responsive" *ngIf="data.visits && data.visits.length > 1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Location</th>
              <th scope="col">Consulted with</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of data.visits">
              <td>{{visit.resource.period.start | date: 'medium'}}</td>
              <td>{{visit.resource.period.end | date: 'medium'}}</td>
              <td>{{visit.resource.location[0].location.display}}</td>
              <td>{{visit.resource.participant && visit.resource.participant.length ?
                  visit.resource.participant[0].individual.display.split('(')[0]: ''}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div *ngIf="data.type == 'observations'">
      <div class="col-12 text-center" *ngIf="!data.observations || (data.observations && data.observations.length === 0)">
        You do not seem to have any observation history
      </div>
      <div class="table-responsive" *ngIf="data.observations && data.observations.length > 1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Activity</th>
              <th scope="col">Analysis</th>
              <th scope="col">Results</th>
              <th scope="col">Comments</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obs of data.observations">
              <td>{{obs.resource.resourceType}}</td>
              <td>
                  <span *ngIf="obs.resource && obs.resource.code && obs.resource.code.coding && obs.resource.code.coding.length">{{obs.resource.code.coding[obs.resource.code.coding.length-1].display}}</span>
              </td>
              <td>
                  <span *ngIf="obs.resource && obs.resource.valueCodeableConcept && obs.resource.valueCodeableConcept.coding && obs.resource.valueCodeableConcept.coding.length">{{obs.resource.valueCodeableConcept.coding[obs.resource.valueCodeableConcept.coding.length-1].display}}</span>
                  <span *ngIf="obs.resource && obs.resource.valueQuantity">{{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}</span>
              </td>
              <td>{{obs.resource.comment}}</td>
              <td>{{obs.resource.effectiveDateTime  | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div *ngIf="data.type == 'prescriptions'">
      <div class="col-12 text-center" *ngIf="!data.prescriptions || (data.prescriptions && data.prescriptions.length === 0)">
        You do not seem to have any observation history
      </div>
      <div class="table-responsive" *ngIf="data.prescriptions && data.prescriptions.length > 1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Drug Name</th>
              <th scope="col">Dosage</th>
              <th scope="col">Status</th>
              <th scope="col">Prescribed By</th>
              <th scope="col">Prescribed Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prescription of data.prescriptions">
              <td>{{prescription.drugName}}</td>
              <td>
                  <span *ngIf="prescription.dosageInstruction.length > 0 && prescription.dosageInstruction[0].dosageInstructionFreeText">
                      {{prescription.dosageInstruction[0].dosageInstructionFreeText}}</span>
                    <span *ngIf="prescription.dosageInstruction && prescription.dosageInstruction.length > 0 && !prescription.dosageInstruction[0].dosageInstructionFreeText && prescription.dispenseRequest">
                      {{prescription.dosageInstruction[0].doseQuantity.value}}
                      {{prescription.dosageInstruction[0].doseQuantity.unit}}, {{prescription.dosageInstruction[0].route}},
                      {{prescription.dosageInstruction[0].timing}}, {{prescription.dispenseRequest.expectedSupplyDuration.value}}
                      {{prescription.dispenseRequest.expectedSupplyDuration.unit}}
                    </span>
              </td>
              <td>{{prescription.status}}</td>
              <td>{{prescription.recorder.name}}</td>
              <td>{{prescription.authoredOn | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</mat-dialog-content>
<!--Access To Doctor modal-->
<div class="delegation-modal" *ngIf="data && data.type === 'doctorAccess'">
  <h2 mat-dialog-title class="d-inline-block mhead" *ngIf="data && data.mode === true">Access To Doctor</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead" *ngIf="data && data.mode === true">Grant Access To Doctor</h3>
    <h3 class="mshead" *ngIf="data && data.mode === false">Revoke Access To Doctor</h3>
    <mat-form-field class="col-12 pa-0">
      <input matInput maxlength="200" placeholder="Enter Address" [(ngModel)]="doctor" name="doctor" />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="delegateDoctor()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data.type ==='qrcode'">
  <h2 mat-dialog-title class="d-inline-block mhead">Generate QR Code</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead">Scan QR Code to delegate</h3>
    <div class="text-center col-12 mv-30" style="padding-left: 12em !important;">
        <qrcode [qrdata]="myAngularxQrCode" [size]="200" [level]="'M'"></qrcode>
    </div>
    <div class="text-center col-12">
      <a class="primarycolor">Generate Again</a>
    </div>
    <div class="col-12 border-bottom ph-0 pb-10 mv-30">
      <div class="d-inline-block">
        {{this.data.address}}
      </div>
      <a class="copybtn float-right">Copy</a>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data && data.type === 'delegation'">
  <h2 mat-dialog-title class="d-inline-block mhead">Grant Access</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead">Give access to my ABC data</h3>
    <mat-form-field class="col-12 pa-0">
      <input matInput name="ssn" [(ngModel)]="nominee" [value]="nominee" placeholder="Enter insurer ID" />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="delegate()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data && data.type === 'providers'">
  <h2 mat-dialog-title class="d-inline-block mhead">Providers</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <mat-form-field class="col-12 pa-0" *ngIf="data.providers && data.providers.length > 1;">
      <h3 class="mshead">Select a provider</h3>
      <mat-select placeholder="Provider" [(value)]="provider">
        <mat-option *ngFor="let p of data.providers" [value]="p">{{p.providerName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-12 pa-0" *ngIf="data.providers && data.providers.length === 1;">
      <input matInput maxlength="10" name="ssn" [(ngModel)]="data.providers[0].providerName" [value]="data.providers[0].providerName"
        placeholder="Provider" readonly />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="getDemographics()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>