table {
  width: 100%;
  thead {
    tr {
      th {
        border-top: 0;
        border-bottom: 1px solid #dee2e6;
        font-size: 12px;
        color: #161616;
        text-transform: normal !important;
      }
    }
  }
  tbody {
    tr {
      td {
        border: none;
        color: #1d1b40;
        font-size: 14px;
      }
    }
  }
}

.largemodal {
  min-width: 80%;
  margin: 0 auto;
}
.medium-modal {
  min-width: 640px;
}
@media screen and (max-width: 991px) {
  .medium-modal {
    min-width: 360px;
  }
}
.delegation-modal {
  .mhead {
    margin-bottom: 14px;
  }
  .mshead {
    font-size: 16px;
  }
}

.copybtn {
  color: #2dcca5 !important;
}
