@import "../../../assets/scss/variables.scss";

.mat-form-field {
  width: 100%;
}
.main-auth {
  margin-top: 4%;
  .authhead {
    color: $primary-color;
    font-weight: bold;
    font-size: 24px;
  }
  .auth-form {
    max-width: 367px;
    margin: 0 auto;
  }
}
