<!-- <mat-drawer-container style="height: 100%">
  <mat-drawer mode="side" opened>
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>     
      <app-dashboard [user]="role"></app-dashboard>
  </mat-drawer-content>
</mat-drawer-container> -->
<div class="container-fluid pa-0">
  <div class="main-layout">
      <router-outlet></router-outlet>
  </div>
</div>