@import "../../../../assets/scss/variables.scss";
.dethead {
  font-size: 20px;
  font-weight: 400;
  color: #1d1b40;
}
.view-btn {
  font-size: 15px;
  font-weight: 400;
  color: $secondary-color !important;
}
.detcontenthead {
  p {
    font-size: 12px;
  }
}
.detcontent {
  p {
    word-break: break-word;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-bottom: 0;
    font-size: 14px;
  }
}
